<sb-layout-dashboard>
    <sb-dashboard-head title=" List of Billings Statement" [hideBreadcrumbs]="true"></sb-dashboard-head>

    <div class="form-group form-inline">  Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3" *ngIf="countryService.loading$ | async">Loading...</span></div>
    <div id="print-section">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><span>GroupId</span>
                </th>
                <th scope="col"><span>Id</span>
                </th>
                <th scope="col"><span>StartDate</span>
                </th>
                <th scope="col"><span>EndDate</span>
                </th>
                <th scope="col"><span>devise</span>
                </th>
                <th scope="col"><span>Value</span>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="billings && billings.length>0">
                <tr *ngFor="let c of billings">
                    <td>{{ c.GroupId }}</td>
                    <td>{{ c.Id }}</td>
                    <td>{{ c.EndDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ c.StartDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ c.TotalSalesPrice.CurrencyCode}}</td>
                    <td>{{ c.TotalSalesPrice.Value.toFixed(2)  }}</td>


                </tr>
        </tbody>
    </table>
    </div>
    <button class="btn btn-info "  (click)="print()">Imprimer</button>
    &nbsp; &nbsp;
    <button class="btn btn-info "  >Exporter en PDF</button>
    &nbsp; &nbsp;
    <button class="btn btn-info "  >Exporter en Excel</button>


    <div class="d-flex justify-content-between p-2">
        <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="paginationArray" [(page)]="pageNumber" [pageSize]="pageSize"></ngb-pagination>
        <select class="custom-select" style="width: auto;" (change)="onPageSizeChange($event.target.value)" name="pageSize" [(ngModel)]="pageSize" >
            <option value="" >Select Item Per Page</option>
            <ng-container *ngIf="item<paginationArray" >
                <option *ngFor="let item of pageSizeRange" [value]="item">{{item}} items per page</option>
            </ng-container>
        </select>
    </div>

</sb-layout-dashboard>

