<sb-layout-dashboard>
    <sb-dashboard-head title=" List of Billings Statement" [hideBreadcrumbs]="true"></sb-dashboard-head>

    <div class="form-group form-inline">  Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3" *ngIf="countryService.loading$ | async">Loading...</span></div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><span>GroupId</span>
                </th>
                <th scope="col"><span>Id</span>
                </th>
                <th scope="col"><span>StartDate</span>
                </th>
                <th scope="col"><span>EndDate</span>
                </th>
                <th scope="col"><span>devise</span>
                </th>
                <th scope="col"><span>Value</span>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="billings.length>0">
                <tr *ngFor="let c of billings">
                    <td>{{ c.GroupId }}</td>
                    <td>{{ c.Id }}</td>
                    <td>{{ c.EndDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ c.StartDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ c.TotalSalesPrice.CurrencyCode}}</td>
                    <td>{{ c.TotalSalesPrice.Value.toFixed(2)  }}</td>


                </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="total$ | async" [(page)]="pageNumber" [pageSize]="pageSize"></ngb-pagination>
        <select class="custom-select" style="width: auto;" (change)="onPageSizeChange($event.target.value)" name="pageSize" [(ngModel)]="pageSize" >
            <option value="2">2 items per page</option
            ><option value="4">4 items per page</option
            ><option value="6">6 items per page</option></select>
    </div>

</sb-layout-dashboard>

