 <sb-layout-dashboard>
    <sb-dashboard-head title="List of Clients" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <div class="form-group form-inline">  Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3" *ngIf="countryService.loading$ | async">Loading...</span></div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><span>ClientName</span>
                </th>
                <th scope="col"><span>ClientUri</span>
                </th>
                <th scope="col"><span>Enabled</span>
                </th>
                <th scope="col"><span>Flow</span>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="clients.length>0">
                <tr *ngFor="let c of clients">
                    <td>{{ c.ClientName }}</td>
                    <td>{{ c.ClientUri }}</td>
                    <td>{{ c.Enabled }}</td>
                    <td>{{ c.Flow }}</td>
                </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="paginationArray" [(page)]="pageNumber" [pageSize]="pageSize"></ngb-pagination>
        <select class="custom-select" style="width: auto;" (change)="onPageSizeChange($event.target.value)" name="pageSize" [(ngModel)]="pageSize" >
            <option *ngFor="let item of pageSizeRange" [value]="item">{{item}} items per page</option>
            </select>
    </div>
 </sb-layout-dashboard>
