<div class="row">
    <!-- <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-primary"><div class="card-body">Primary Card</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning"><div class="card-body">Warning Card</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-success"><div class="card-body">Success Card</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger"><div class="card-body">Danger Card</div></sb-card-view-details>
    </div>
     -->


<h1 style="color :#007bff;">Insomea Computer Solutions</h1>

<p>We are proud to be Microsoft Cloud Partner since 2014. We gained a great deal of experience with our certified experts deploying and implementing various Microsoft solutions in different fields.
    We collaborate closely with Microsoft to deliver advanced cost-effective solutions to our clients in order to increase their productivity and revenue and promote innovation.
    Feel free to schedule a call with one of our advisors</p>



</div>
